---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar.astro';
import Hero from '../components/hero.astro';
import About from '../components/about.astro';
import Projects from '../components/projects.astro';
import Skills from '../components/skills.astro';
import Contact from '../components/contact.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <About />
    <Projects />
    <Skills />
    <Contact />
  </main>
</Layout>